
<!DOCTYPE html>
<html>
<head>
{% include 'CodebenderLibraryBundle:Default:includes.html.twig' %}


    <title></title>
    <script>
        $(function() {
            $( "#filesAccordion" ).accordion({
                collapsible: true,
                active: false,
                heightStyle: "content"
            });
            $( "#examplesAccordion").accordion({
                collapsible: true,
                active: false,
                heightStyle: "content"
            });
        });
    </script>
</head>
<body>
<div>
    <h1>{{ library }} </h1>
        {% if meta %}
            <label
                    {% if meta.verified %}
                        class="icon-ok" title="This is a Verified Library."
                    {% else %}
                        class="icon-warning-sign" title="Not Verified. Use at your own risk."
                    {% endif %}
                    >
            </label>
            <label>
                {% if meta.active %}
                    <button onclick = "changeLibraryStatus('{{ library }}')" id="statusbutton" class="btn btn-danger">Disable Library</button>
                {% else %}
                    <button onclick = "changeLibraryStatus('{{ library }}')" id="statusbutton" class="btn btn-success">Enable Library</button>
                {% endif %}
            </label>
        <h3>{{ meta.humanName }}</h3>
        <p>{{ meta.description }}</p>
        {% if meta.gitOwner and meta.gitRepo %}
            <a class="btn btn-primary" href = "{{ meta.url }}">Github Repository</a>
        {% endif %}
    {% endif %}

    {% set download_hash = { 'library' : (library),  'authorizationKey': (authorizationKey) } %}
<a id="download" class="btn btn-success"
    href="{{ path('codebender_library_download', download_hash) }}">Download</a>
</div>
<div>
    <h3>Files:</h3>

    <div class="accordion" id="files_accordion">
        {% set get_example_hash = { 'authorizationKey':   (authorizationKey)  , 'version': 'v1' } %}
        {% for file in files %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" style="display:inline" data-toggle="collapse" data-parent="#files_accordion" href="#files_collapse{{ loop.index }}">
                    {{ file.filename }} <label class = 'icon-chevron-down'></label>
                </a>
                {#TODO make it work for multifiled examples#}
            </div>
            <div id="files_collapse{{ loop.index }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <pre>{{ file.content }}</pre>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3>Examples:</h3>
    <div class="accordion" id="examples_accordion">
        {% for file in examples %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" style="display:inline" data-toggle="collapse" data-parent="#examples_accordion" href="#examples_collapse{{ loop.index }}">
                        {{ file.filename }} <label class = 'icon-chevron-down'></label>
                    </a>
                </div>
                {#TODO make it work for multifiled examples#}
                <div id="examples_collapse{{ loop.index }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <pre>{{ file.content }}</pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">

    function changeLibraryStatus(library)
    {
        var route = "{{ path('codebender_library_status_change', {'authorizationKey': authorizationKey, 'library': "LIBRARYNAME"}) }}";
        $.post( route.replace("LIBRARYNAME", library) )
            .done(function( data ) {
                var response = jQuery.parseJSON(data);
                if(response.success)
                {
                    $("#statusbutton").toggleClass("btn-success");
                    $("#statusbutton").toggleClass("btn-danger");
                    if ($("#statusbutton").html() == "Disable Library")
                    {
                        $("#statusbutton").html("Enable Library");
                    }
                    else
                    {
                        $("#statusbutton").html("Disable Library");
                    }

                }
                console.log(data);
            });
    }

</script>

</body>
</html>