
<!DOCTYPE html>
<html>
<head>
{% include 'CodebenderLibraryBundle:Default:includes.html.twig' %}


    <title></title>
    <script>
        $(function() {
            $( "#filesAccordion" ).accordion({
                collapsible: true,
                active: false,
                heightStyle: "content"
            });
            $( "#examplesAccordion").accordion({
                collapsible: true,
                active: false,
                heightStyle: "content"
            });
        });
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="span1"></div>
    <div class="span10"></div>
        <div style="text-align: left;">
            {% if meta.humanName is defined %}
                <h2>{{ meta.humanName }}</h2>
            {% else %}
                <h2>{{ library }}</h2>
            {% endif %}
            <h3>(main header: {{ library }}.h)</h3>
            {% if meta is not empty %}
                {% if meta.verified %}
                    <span class="label label-success" title="This is a Verified Library."><label class="icon-ok"></label> This is a Verified Library.</span>
                {% else %}
                    <span class="label label-warning" title="Not Verified. Use at your own risk."><label class="icon-warning-sign"></label> Not Verified. Use at your own risk.</span>
                {% endif %}
                <br/><br/>
                {% if meta.active == true %}
                    <button onclick = "changeLibraryStatus('{{ library }}')" id="statusbutton" class="btn btn-danger" value="isEnabled">Library <strong>enabled</strong> on codebender. Click to disable.</button>
                {% else %}
                    <button onclick = "changeLibraryStatus('{{ library }}')" id="statusbutton" class="btn btn-success" value="isDisabled">Library <strong>disabled</strong> on codebender. Click to enable.</button>
                {% endif %}
                <br/><br/>
                {% if meta.gitOwner and meta.gitRepo and meta.url != '' %}
                    {% if meta.gitInRepoPath %}
                        <label>You will find the files in the "<strong>{{ meta.gitInRepoPath }}</strong>" directory of the Github repository </label><br/>
                    {% endif %}
                    <a class="btn btn-primary" target="_blank" href = "{{ meta.url }}" title="Github repo hosting the library code">Github Repository</a>
                {% elseif meta.url and meta.url != '' %}
                    <a class="btn btn-primary" target="_blank" href = "{{ meta.url }}" title="Reference page of the library">{{ meta.humanName }} is hosted here</a>
                {% endif %}
                {% if meta.sourceUrl and meta.sourceUrl != '' %}
                    <a class="btn btn-primary" target="_blank" href = "{{ meta.sourceUrl }}" title="The original source code of the library">{{ meta.humanName }} source code</a>
                {% endif %}
                {% set download_hash = { 'library' : (library),  'authorizationKey': (authorizationKey) } %}
                <a id="download" class="btn btn-success" target="_blank"
                   href="{{ path('codebender_library_download', download_hash) }}">Download from <strong>Eratosthenes</strong></a>
                <br/><br/>
                {% if meta.gitOwner and meta.gitRepo and meta.gitLastCommit %}
                    {% if inSyncWithGit == true %}
                        <span><label class="icon-ok"></label> In sync with <strong>{{ meta.gitBranch }}</strong> branch.</span>
                    {% else %}
                        <span><label class="icon-warning-sign"></label> Not in sync with {% if meta.gitBranch %} {{ meta.gitBranch }} {% else %}any{% endif %} branch.</span>
                    {% endif %}
                {% else %}
                    <span>Not a Github library (might need manual update)</span>
                {% endif %}
            {% else %}
                {% set download_hash = { 'library' : (library),  'authorizationKey': (authorizationKey) } %}
                <a id="download" class="btn btn-success" target="_blank"
                   href="{{ path('codebender_library_download', download_hash) }}">Download from <strong>Eratosthenes</strong></a>
                <br/><br/>
                <span>This is a <strong>builtin</strong> library</span>
            {% endif %}
            <br/>
            <button class="btn btn-danger" id="delete-library-button" href=""> Delete library </button>
            <span id="delete-library-output"></span>
        </div>
        {% if meta %}
            {% if meta.description %}
                <h3>Library Description:</h3>
                <div class="well">
                    <p>{{ meta.description }}</p>
                </div>
            {% endif %}
            {% if meta.libraryNotes %}
                <h3>Private notes for codebender staff:</h3>
                <div class="well">
                    <p>{{ meta.libraryNotes }}</p>
                </div>
            {% endif %}
        {% endif %}
        <div>
            <h3>Files:</h3>

            <div class="accordion" id="files_accordion">
                {% set get_example_hash = { 'authorizationKey':   (authorizationKey)  , 'version': 'v1' } %}
                {% for file in files %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" style="display:inline" data-toggle="collapse" data-parent="#files_accordion" href="#files_collapse{{ loop.index }}">
                            {{ file.filename }} <label class = 'icon-chevron-down'></label>
                        </a>
                        {#TODO make it work for multifiled examples#}
                    </div>
                    <div id="files_collapse{{ loop.index }}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <pre>{{ file.content }}</pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% set exampleCount = examples | length %}
            <h3>Examples ({{ exampleCount }} found): </h3>
            <div class="accordion" id="examples_accordion">
                {% if exampleCount == 0 %}
                    <h2><small>The library contains no examples.</small></h2>
                {% else %}
                    {% for file in examples %}
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" style="display:inline" data-toggle="collapse" data-parent="#examples_accordion" href="#examples_collapse{{ loop.index }}">
                                    {{ file.filename }} <label class = 'icon-chevron-down'></label>
                                </a>
                            </div>
                            {#TODO make it work for multifiled examples#}
                            <div id="examples_collapse{{ loop.index }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <pre>{{ file.content }}</pre>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    <div class="span1"></div>
    <!-- Library Deletion Modal -->
    <div id="deletionModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete {{ library }} library</h4>
                </div>
                <div class="modal-body">
                    <p>You are about to permanently delete {{ library }} library. Are you sure?</p>
                    <button id="yes-button" class="btn btn-default">Do it!</button>
                    <button id="no-button" class="btn btn-default" data-dismiss="modal">God no..</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Library Deleted Modal -->
    <div id="deletedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Library {{ library }} deleted!</h4>
                </div>
                <div class="modal-body">
                    <p>Click on the button below to get redirected to the library addition page.</p>
                    <button id="redirect-button" class="btn btn-default">Take me there</button>
                    <p><strong>Don't forget to delete the cached library object files from the compiler!</strong></p>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    function changeLibraryStatus(library)
    {
        var route = "{{ path('codebender_library_status_change', {'authorizationKey': authorizationKey, 'library': "LIBRARYNAME"}) }}";
        $.post( route.replace("LIBRARYNAME", library) )
            .done(function( data ) {
                var response = data;
                if(response.success)
                {
                    $("#statusbutton").toggleClass("btn-success");
                    $("#statusbutton").toggleClass("btn-danger");

                    if ($("#statusbutton").text().indexOf('enabled') > 0)
                    {
                        $("#statusbutton").html("Library <strong>disabled</strong> on codebender. Click to enable.");
                    } else if ($("#statusbutton").text().indexOf('disabled') > 0)
                    {
                        $("#statusbutton").html("Library <strong>enabled</strong> on codebender. Click to disable.");
                    }

                }
                console.log(data);
            });
    }

    $(document).ready(function() {

        $('#delete-library-button').click(function() {
            $('#deletionModal').modal('show');
        });
        $("#yes-button").click(function () {
            $('#deletionModal').modal('hide');
            $.ajax({
                type: "POST",
                url: "{{ path('codebender_api_handler', {'authorizationKey' : authorizationKey, 'version' : 'v1'}) }}",
                data: '{"type":"deleteLibrary","library":"{{ library }}"}',
                dataType: 'json'
            }).done(function( data ) {
                if(!data.success) {
                    $("#delete-library-output").html(data.error);
                }
                if(data.success) {
                    $('.btn').attr('disabled', 'disabled'); //disable all buttons to avoid performing operations on a deleted library
                    $('#redirect-button').removeAttr('disabled');
                    $('#deletedModal').modal('show');
                }
            });
        });

        $('#redirect-button').click(function(){
            window.location.replace("{{ path('codebender_library_new_external', {'authorizationKey': authorizationKey}) }}");
        });
    });

</script>

</body>
</html>